body{
	margin-top:0;
}

#navigator{
	margin:0 auto;
	width:960px;
	height:100px;
	background-color: #f37022;
}
#logo_img{
	float:left;
	width:200px;
	height:100%;
}

#admin span{
	float:left;
	width:100px;
	height:20px;
	margin-top:10px;
	margin-left:600px;
	font-size:20;
	font-family:微软雅黑;
}
#logo_img img{
	width:100%;
	height:100%;
}
#menu{
	margin-left:200px;
}
#menu li{
	float:left;
	width:150px;
	text-align:center;
	margin-top:20px;
	font-family:'微软雅黑';
	font-size:20px;
	text-align:center;
	color:black;
}

#menu .active{
	font-size:25px;
	color: white;
}
#menu li:hover{
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
}

#dinner_time{
	margin:0 auto;
	width:600px;
	height:40px;
}

#dinner_time span{
	color:white;
	float:left;
	padding-top:10px;
	width:200px;
	height:100%
}

.login_contant_main{
	position:absolute;
	top:22%;
	left:14%;
	border: 1px solid black;
	padding:1em;
	height:400px;
	width:960px;
	margin:0px auto;
}

.submit_order_main{
	padding-left:30px;
	margin-top: 10px;
}
.submit_order_main_info
.address_info{
	float:left;
	width: 375px;
	background: gray;
	font-size: 13px;
	color: #727272;
}

.info_span_2{
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.info_span_1 {
    color: #5c5253;
    font-size: 15px;
    font-weight: bold;
    background: url(../images/icon_4.gif) no-repeat left;
    padding-left: 20px;
    margin-right: 10px;
}


.total_price{
	position: absolute;
	top:60%;
	left:5%;
	border:1px solid #000;
	padding: 10px;
	background-color: #fbf7eb;
	color: #645655;
	font-size: 14px;
	font-weight: bold;
	float: left;
	overflow: hidden;
}
.time_span_2{
	font-size: 20px;
	color: #c30d23;
	font-weight: bold;
	margin-bottom: 10px;
}
.backbtn{
	background:url(../../img/backbtn.png); 
	position:absolute;
	top:80%;
	left:22%;
	width:168px;
	height: 38px;
	border: 0;
	cursor:pointer;
}
.subbtn{
	background:url(../../img/subbtn.png);
	position:absolute;
	top: 80%;
    right:25%;
	width: 168px;
	height: 38px;
	border: 0;
	cursor: pointer;
	margin-left: 100px;
}

.submit_notes {
	position: absolute;
	top:3%;
	right:5%;
    float: right;
    background:rgba(255,255,0,0.4);
    border: 1px #866638 solid;
    padding: 10px 15px;
    width: 370px;
    font-size: 12px;
    color: #000;
    margin: 10px 35px 0px 0px;
    display: inline;
}