body{
	margin-top:0;
}

#navigator{
	margin:0 auto;
	width:960px;
	height:100px;
	background-color:#f37022;
}
#logo_img{
	float:left;
	width:200px;
	height:100%;
}

#admin span{
	float:left;
	width:100px;
	height:20px;
	margin-top:10px;
	margin-left:600px;
	font-size:20;
	font-family:微软雅黑;
}
#logo_img img{
	width:100%;
	height:100%;
}
#menu{
	margin-left:200px;
}
#menu li{
	float:left;
	width:150px;
	text-align:center;
	margin-top:20px;
	font-family:'微软雅黑';
	font-size:20px;
	text-align:center;
	color:black;
}

#menu .active{
	font-size:25px;
	color:white;
}
#menu li:hover{
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
}

#dinner_time{
	margin:0 auto;
	width:600px;
	height:40px;
}

#dinner_time span{
	color:white;
	float:left;
	padding-top:10px;
	width:200px;
	height:100%
}

#main_div{
	margin:0 auto;
	width:960px;
}

#sidebar{
	margin-left:0;
	width:200;
	float:left;
	background-color:#d2f4ff;
}
#sidebar li{
	width:100px;
	height:30px;
	font-family:'微软雅黑';
	font-size:20px;
	list-style:none;
	margin-top:40px;
	text-align:center;
}

#sidebar li:hover{
	background-color:#b35d27;
	color:white;
	//-webkit-border-radius:5px;
	cursor:pointer;
}

.sidebar_active{
	color:white;
	background-color:#b35d27;
}

#foods{
	float:left;
}

.food{
	float:left;
	margin-left:40px;
	width:200px;
	height:250px;
}

.food_pic{
	width:200px;
	height:200px;
}

.food_info{
	width:100%;
	height:50px;
}

.food_info span{
	float:left;
	width:100%;
	text-align:center;
}
.food_pic img{
	width:100%;
	height:100%;
	cursor:pointer;
}

.pic_dark{
	opacity:0.7;
	cursor:pointer;
}

.pic_show{
	opacity:1
}